<div id="main">
  <section id="one">
    <header class="major">
      <h2>Hi - I'm Igor. I've been building software since 2010. Researching, Coding, Reviewing, Testing and
        Designing.</h2>
    </header>
    <p>Studied 'Information Technology', and studying 'Digital Design' focused in the creative side.</p>
    <blockquote>
      "Logic will get you from A to B. Imagination will take you everywhere."
      Albert Einstein
    </blockquote>
    Consider me as an enthusiast of web and mobile technologies. I've been studying many different platforms about
    those past 2 years.
    </p>
    <ul class="actions">
      <li><%= link_to 'More', '/static_pages/about', class: 'button' %> </li>
    </ul>
  </section>
  <section id="two">
    <h2>Recent Work</h2>
    <div class="row">
      <article class="6u 12u$(xsmall) work-item">
        <%= link_to image_tag('thumbs/01.jpg'), class: 'image fit thumb' %>
        <h3>Magna sed consequat tempus</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
      <article class="6u$ 12u$(xsmall) work-item">
        <%= link_to image_tag('thumbs/02.jpg'), class: 'image fit thumb' %>
        <h3>Ultricies lacinia interdum</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
      </article>
      <ul class="actions">
        <li><%= link_to 'Full Portfolio', '/portfolio', class: 'button' %></li>
      </ul>
    </div>
  </section>
  <section id="three">
    <%= render 'static_pages/contact_form' %>
  </section>
</div>

