<div id="main">
  <article class="6u 12u$(xsmall) work-item">
    <%= link_to image_tag('thumbs/01.jpg'), class: 'image fit thumb' %>
    <h3>Magna sed consequat tempus</h3>
    <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
  </article>
  <article class="6u$ 12u$(xsmall) work-item">
    <%= link_to image_tag('thumbs/02.jpg'), class: 'image fit thumb' %>
    <h3>Ultricies lacinia interdum</h3>
    <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
  </article>
</div>