<div id="main">
  <h2>Get In Touch</h2>
  <p>Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem
    semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.</p>
  <div class="row">
    <div class="8u 12u$(small)">
      <%= form_for(@contact) do |c| %>
          <%= c.label :name %>
          <%= c.text_field :name %>

          <%= c.label :email %>
          <%= c.email_field :email %>

          <%= c.label :message %>
          <%= c.text_field :message %>

          <ul class="actions">
            <%= c.submit 'Send Message' %>
          </ul>
      <% end %>
    </div>
    <div class="4u$ 12u$(small)">
      <ul class="labeled-icons">
        <li>
          <h3 class="icon fa-home"><span class="label">Address</span></h3>
          1 Ramsay Street<br/>
          Collaroy, NSW 2036<br/>
          Australia
        </li>
        <li>
          <h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
          0478 510 593
        </li>
        <li>
          <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
          <a href="#">igorrmotta@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>
</div>