#menu ul {
  padding: 0;
  margin-bottom: 20px;
  list-style-type: none;

  li {
    display: inline;

    a {
      padding: 2px 10px;
      display: inline-block;
      color: white;

      &.selected {
        border-bottom: 3px solid white;
      }
    }
  }
}
