<footer id="footer">
  <ul class="icons">
    <li>
      <%= link_to '#', class: 'icon fa-twitter' do %>
          <span class="label">Twitter</span>
      <% end %>
    </li>
    <li>
      <%= link_to '#', class: 'icon fa-github' do %>
          <span class="label">GitHub</span>
      <% end %>
    </li>
    <li>
      <%= link_to '#', class: 'icon fa-dribble' do %>
          <span class="label">Dribble</span>
      <% end %>
    </li>
    <li>
      <%= link_to '#', class: 'icon fa-envelope-o' do %>
          <span class="label">Email</span>
      <% end %>
    </li>
  </ul>
  <ul class="copyright">
    <li>&copy; igorrmotta</li>
    <li>Design: <%= link_to 'HTML5 UP', 'http://html5up.net' %></li>
  </ul>
</footer>