<header id="header">
  <nav id="menu">
    <ul>
      <li><%= link_to 'Home', home_path, class: (current_page?(action: 'home') ? 'selected' : '') %> </li>
      <li><%= link_to 'About', about_path, class: (current_page?(action: 'about') ? 'selected' : '') %> </li>
      <li><%= link_to 'Contact', contact_path, class: (current_page?(action: 'contact') ? 'selected' : '') %></li>
      <li><%= link_to 'Portfolio', portfolio_path, class: (current_page?(action: 'portfolio') ? 'selected' : '') %> </li>
    </ul>
  </nav>

  <%= link_to image_tag('fulls/avatar.jpg', alt: 'avatar'), root_path, class: 'image avatar' %>
  <h1><strong>Igor Rodrigues Motta</strong></h1>
  <h5>Web/Mobile Developer </h5>

  a <strong>Software Developer</strong> who comes to make difference.<br/>
  I like to call myself as a <strong>Design Thinker</strong>. A person who turns <i><u>problems</u></i> into
  <i><u>solutions</u></i>.
</header>