<!DOCTYPE html>
<html>
<head>
  <title>IgorrmottaWebsite</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--[if lte IE 8]>  <%= stylesheet_link_tag 'ie8.scss', media: 'all', 'data-turbolinks-track' => true %><![endif]-->

  <%= javascript_include_tag 'jquery.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'skel.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.poptrox.min', 'data-turbolinks-track' => true %>
  <!--[if lte IE 8]><%= javascript_include_tag 'ie/respond.min.js', 'data-turbolinks-track' => true %><![endif]-->
  <!--[if lte IE 8]><%= javascript_include_tag 'ie/html5shiv.js', 'data-turbolinks-track' => true %><![endif]-->

  <%= csrf_meta_tags %>
</head>
<body id="top">
<%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
